* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

#dadosCep {
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.buscador {
  width: 80%;
  margin-top: 60px;
  text-align: center;
  justify-content: center;
  background-color: tomato;
  padding: 30px;
  display: block;
  border-radius: 15px 15px 0 0;
}

.buscador h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #fff;
}

form label {
  font-size: 3rem;
}

form input {
  padding: 5px 10px 5px 10px;
  font-size: 2.4rem;
  width: 200px;
}

form label,
form button {
  display: block;
}

button {
  margin: 20px auto;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  font-size: 2rem;
}

#dadosCep h2 {
  font-size: 2.4rem;
}

#dadosCep p {
  font-size: 2rem;
}
